:root {
  --white: #fff;
  --dark-blue: #0B0B45;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--dark-blue);
}

header,
.forecast-header {
  font-family: Arial, sans-serif;
  line-height: 200%;
  background: var(--dark-blue);
}

header,
#search-button,
.forecast-header {
  background-image: linear-gradient(
    90deg,
    var(--dark-blue),
    var(--dark-blue),
    var(--dark-blue)
  );
}

main {
  font-family: Arial, sans-serif;
}

.search-history .searched-city-btn {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
}

#current-weather {
  line-height: 200%;
}

.date-time {
  display: flex;
  justify-content: space-between;
}

#current-weather-icon,
#forecast-weather-icon {
  width: 70px;
  height: 70px;
  margin: -20px;
}

.weather-conditions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.forecast-five-day {
  display: inline-block;
  justify-content: space-around;
  list-style: none;
  text-align: center;
  padding: 1%;
  margin: 1%;
  background: var(--white);
  line-height: 200%;
  align-items: center;
  box-shadow: 
    rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, 
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.forecast-five-day li {
  position: center;
  vertical-align: center;
  align-items: center;
}